# coding: utf-8

"""
    EVE Swagger Interface

    An OpenAPI for EVE Online

    OpenAPI spec version: 0.4.6
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ContactsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def delete_characters_character_id_contacts(self, character_id, contact_ids, **kwargs):
        """
        Delete contacts
        Bulk delete contacts  --- 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_characters_character_id_contacts(character_id, contact_ids, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param list[int] contact_ids: A list of contacts to edit (required)
        :param str datasource: The server name you would like data from
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_characters_character_id_contacts_with_http_info(character_id, contact_ids, **kwargs)
        else:
            (data) = self.delete_characters_character_id_contacts_with_http_info(character_id, contact_ids, **kwargs)
            return data

    def delete_characters_character_id_contacts_with_http_info(self, character_id, contact_ids, **kwargs):
        """
        Delete contacts
        Bulk delete contacts  --- 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_characters_character_id_contacts_with_http_info(character_id, contact_ids, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param list[int] contact_ids: A list of contacts to edit (required)
        :param str datasource: The server name you would like data from
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['character_id', 'contact_ids', 'datasource', 'token', 'user_agent', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_characters_character_id_contacts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in params) or (params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `delete_characters_character_id_contacts`")
        # verify the required parameter 'contact_ids' is set
        if ('contact_ids' not in params) or (params['contact_ids'] is None):
            raise ValueError("Missing the required parameter `contact_ids` when calling `delete_characters_character_id_contacts`")


        collection_formats = {}

        resource_path = '/v1/characters/{character_id}/contacts/'.replace('{format}', 'json')
        path_params = {}
        if 'character_id' in params:
            path_params['character_id'] = params['character_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'token' in params:
            query_params['token'] = params['token']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'contact_ids' in params:
            body_params = params['contact_ids']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['evesso']

        return self.api_client.call_api(resource_path, 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_characters_character_id_contacts(self, character_id, **kwargs):
        """
        Get contacts
        Return contacts of a character  ---  This route is cached for up to 300 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_characters_character_id_contacts(character_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param str datasource: The server name you would like data from
        :param int page: page integer
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[GetCharactersCharacterIdContacts200Ok]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_characters_character_id_contacts_with_http_info(character_id, **kwargs)
        else:
            (data) = self.get_characters_character_id_contacts_with_http_info(character_id, **kwargs)
            return data

    def get_characters_character_id_contacts_with_http_info(self, character_id, **kwargs):
        """
        Get contacts
        Return contacts of a character  ---  This route is cached for up to 300 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_characters_character_id_contacts_with_http_info(character_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param str datasource: The server name you would like data from
        :param int page: page integer
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[GetCharactersCharacterIdContacts200Ok]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['character_id', 'datasource', 'page', 'token', 'user_agent', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_characters_character_id_contacts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in params) or (params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_characters_character_id_contacts`")

        if 'page' in params and params['page'] < 1:
            raise ValueError("Invalid value for parameter `page` when calling `get_characters_character_id_contacts`, must be a value greater than or equal to `1`")

        collection_formats = {}

        resource_path = '/v1/characters/{character_id}/contacts/'.replace('{format}', 'json')
        path_params = {}
        if 'character_id' in params:
            path_params['character_id'] = params['character_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'token' in params:
            query_params['token'] = params['token']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['evesso']

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[GetCharactersCharacterIdContacts200Ok]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_characters_character_id_contacts_labels(self, character_id, **kwargs):
        """
        Get contact labels
        Return custom labels for contacts the character defined  ---  This route is cached for up to 300 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_characters_character_id_contacts_labels(character_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param str datasource: The server name you would like data from
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[GetCharactersCharacterIdContactsLabels200Ok]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_characters_character_id_contacts_labels_with_http_info(character_id, **kwargs)
        else:
            (data) = self.get_characters_character_id_contacts_labels_with_http_info(character_id, **kwargs)
            return data

    def get_characters_character_id_contacts_labels_with_http_info(self, character_id, **kwargs):
        """
        Get contact labels
        Return custom labels for contacts the character defined  ---  This route is cached for up to 300 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_characters_character_id_contacts_labels_with_http_info(character_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param str datasource: The server name you would like data from
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[GetCharactersCharacterIdContactsLabels200Ok]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['character_id', 'datasource', 'token', 'user_agent', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_characters_character_id_contacts_labels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in params) or (params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_characters_character_id_contacts_labels`")


        collection_formats = {}

        resource_path = '/v1/characters/{character_id}/contacts/labels/'.replace('{format}', 'json')
        path_params = {}
        if 'character_id' in params:
            path_params['character_id'] = params['character_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'token' in params:
            query_params['token'] = params['token']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['evesso']

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[GetCharactersCharacterIdContactsLabels200Ok]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def post_characters_character_id_contacts(self, character_id, contact_ids, standing, **kwargs):
        """
        Add contacts
        Bulk add contacts with same settings  --- 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.post_characters_character_id_contacts(character_id, contact_ids, standing, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param list[int] contact_ids: A list of contacts to add (required)
        :param float standing: Standing for the new contact (required)
        :param str datasource: The server name you would like data from
        :param int label_id: Add a custom label to the new contact
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param bool watched: Whether the new contact should be watched, note this is only effective on characters
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.post_characters_character_id_contacts_with_http_info(character_id, contact_ids, standing, **kwargs)
        else:
            (data) = self.post_characters_character_id_contacts_with_http_info(character_id, contact_ids, standing, **kwargs)
            return data

    def post_characters_character_id_contacts_with_http_info(self, character_id, contact_ids, standing, **kwargs):
        """
        Add contacts
        Bulk add contacts with same settings  --- 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.post_characters_character_id_contacts_with_http_info(character_id, contact_ids, standing, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param list[int] contact_ids: A list of contacts to add (required)
        :param float standing: Standing for the new contact (required)
        :param str datasource: The server name you would like data from
        :param int label_id: Add a custom label to the new contact
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param bool watched: Whether the new contact should be watched, note this is only effective on characters
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['character_id', 'contact_ids', 'standing', 'datasource', 'label_id', 'token', 'user_agent', 'watched', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_characters_character_id_contacts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in params) or (params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `post_characters_character_id_contacts`")
        # verify the required parameter 'contact_ids' is set
        if ('contact_ids' not in params) or (params['contact_ids'] is None):
            raise ValueError("Missing the required parameter `contact_ids` when calling `post_characters_character_id_contacts`")
        # verify the required parameter 'standing' is set
        if ('standing' not in params) or (params['standing'] is None):
            raise ValueError("Missing the required parameter `standing` when calling `post_characters_character_id_contacts`")

        if 'standing' in params and params['standing'] > 10:
            raise ValueError("Invalid value for parameter `standing` when calling `post_characters_character_id_contacts`, must be a value less than or equal to `10`")
        if 'standing' in params and params['standing'] < -10:
            raise ValueError("Invalid value for parameter `standing` when calling `post_characters_character_id_contacts`, must be a value greater than or equal to `-10`")

        collection_formats = {}

        resource_path = '/v1/characters/{character_id}/contacts/'.replace('{format}', 'json')
        path_params = {}
        if 'character_id' in params:
            path_params['character_id'] = params['character_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'label_id' in params:
            query_params['label_id'] = params['label_id']
        if 'standing' in params:
            query_params['standing'] = params['standing']
        if 'token' in params:
            query_params['token'] = params['token']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']
        if 'watched' in params:
            query_params['watched'] = params['watched']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'contact_ids' in params:
            body_params = params['contact_ids']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['evesso']

        return self.api_client.call_api(resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[int]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def put_characters_character_id_contacts(self, character_id, contact_ids, standing, **kwargs):
        """
        Edit contacts
        Bulk edit contacts with same settings  --- 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.put_characters_character_id_contacts(character_id, contact_ids, standing, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param list[int] contact_ids: A list of contacts to edit (required)
        :param float standing: Standing for the contact (required)
        :param str datasource: The server name you would like data from
        :param int label_id: Add a custom label to the contact, use 0 for clearing label
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param bool watched: Whether the contact should be watched, note this is only effective on characters
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.put_characters_character_id_contacts_with_http_info(character_id, contact_ids, standing, **kwargs)
        else:
            (data) = self.put_characters_character_id_contacts_with_http_info(character_id, contact_ids, standing, **kwargs)
            return data

    def put_characters_character_id_contacts_with_http_info(self, character_id, contact_ids, standing, **kwargs):
        """
        Edit contacts
        Bulk edit contacts with same settings  --- 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.put_characters_character_id_contacts_with_http_info(character_id, contact_ids, standing, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: ID for a character (required)
        :param list[int] contact_ids: A list of contacts to edit (required)
        :param float standing: Standing for the contact (required)
        :param str datasource: The server name you would like data from
        :param int label_id: Add a custom label to the contact, use 0 for clearing label
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param bool watched: Whether the contact should be watched, note this is only effective on characters
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['character_id', 'contact_ids', 'standing', 'datasource', 'label_id', 'token', 'user_agent', 'watched', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_characters_character_id_contacts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in params) or (params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `put_characters_character_id_contacts`")
        # verify the required parameter 'contact_ids' is set
        if ('contact_ids' not in params) or (params['contact_ids'] is None):
            raise ValueError("Missing the required parameter `contact_ids` when calling `put_characters_character_id_contacts`")
        # verify the required parameter 'standing' is set
        if ('standing' not in params) or (params['standing'] is None):
            raise ValueError("Missing the required parameter `standing` when calling `put_characters_character_id_contacts`")

        if 'standing' in params and params['standing'] > 10:
            raise ValueError("Invalid value for parameter `standing` when calling `put_characters_character_id_contacts`, must be a value less than or equal to `10`")
        if 'standing' in params and params['standing'] < -10:
            raise ValueError("Invalid value for parameter `standing` when calling `put_characters_character_id_contacts`, must be a value greater than or equal to `-10`")

        collection_formats = {}

        resource_path = '/v1/characters/{character_id}/contacts/'.replace('{format}', 'json')
        path_params = {}
        if 'character_id' in params:
            path_params['character_id'] = params['character_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'label_id' in params:
            query_params['label_id'] = params['label_id']
        if 'standing' in params:
            query_params['standing'] = params['standing']
        if 'token' in params:
            query_params['token'] = params['token']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']
        if 'watched' in params:
            query_params['watched'] = params['watched']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'contact_ids' in params:
            body_params = params['contact_ids']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['evesso']

        return self.api_client.call_api(resource_path, 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
