# coding: utf-8

"""
    EVE Swagger Interface

    An OpenAPI for EVE Online

    OpenAPI spec version: 0.4.6
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class KillmailsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_characters_character_id_killmails_recent(self, character_id, **kwargs):
        """
        List kills and losses
        Return a list of character's recent kills and losses  ---  This route is cached for up to 120 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_characters_character_id_killmails_recent(character_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: An EVE character ID (required)
        :param str datasource: The server name you would like data from
        :param int max_count: How many killmails to return at maximum
        :param int max_kill_id: Only return killmails with ID smaller than this. 
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[GetCharactersCharacterIdKillmailsRecent200Ok]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_characters_character_id_killmails_recent_with_http_info(character_id, **kwargs)
        else:
            (data) = self.get_characters_character_id_killmails_recent_with_http_info(character_id, **kwargs)
            return data

    def get_characters_character_id_killmails_recent_with_http_info(self, character_id, **kwargs):
        """
        List kills and losses
        Return a list of character's recent kills and losses  ---  This route is cached for up to 120 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_characters_character_id_killmails_recent_with_http_info(character_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int character_id: An EVE character ID (required)
        :param str datasource: The server name you would like data from
        :param int max_count: How many killmails to return at maximum
        :param int max_kill_id: Only return killmails with ID smaller than this. 
        :param str token: Access token to use, if preferred over a header
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: list[GetCharactersCharacterIdKillmailsRecent200Ok]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['character_id', 'datasource', 'max_count', 'max_kill_id', 'token', 'user_agent', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_characters_character_id_killmails_recent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in params) or (params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_characters_character_id_killmails_recent`")

        if 'max_count' in params and params['max_count'] > 5000:
            raise ValueError("Invalid value for parameter `max_count` when calling `get_characters_character_id_killmails_recent`, must be a value less than or equal to `5000`")

        collection_formats = {}

        resource_path = '/v1/characters/{character_id}/killmails/recent/'.replace('{format}', 'json')
        path_params = {}
        if 'character_id' in params:
            path_params['character_id'] = params['character_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'max_count' in params:
            query_params['max_count'] = params['max_count']
        if 'max_kill_id' in params:
            query_params['max_kill_id'] = params['max_kill_id']
        if 'token' in params:
            query_params['token'] = params['token']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['evesso']

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[GetCharactersCharacterIdKillmailsRecent200Ok]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_killmails_killmail_id_killmail_hash(self, killmail_hash, killmail_id, **kwargs):
        """
        Get a single killmail
        Return a single killmail from its ID and hash  ---  This route is cached for up to 3600 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_killmails_killmail_id_killmail_hash(killmail_hash, killmail_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str killmail_hash: The killmail hash for verification (required)
        :param int killmail_id: The killmail ID to be queried (required)
        :param str datasource: The server name you would like data from
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: GetKillmailsKillmailIdKillmailHashOk
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_killmails_killmail_id_killmail_hash_with_http_info(killmail_hash, killmail_id, **kwargs)
        else:
            (data) = self.get_killmails_killmail_id_killmail_hash_with_http_info(killmail_hash, killmail_id, **kwargs)
            return data

    def get_killmails_killmail_id_killmail_hash_with_http_info(self, killmail_hash, killmail_id, **kwargs):
        """
        Get a single killmail
        Return a single killmail from its ID and hash  ---  This route is cached for up to 3600 seconds
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_killmails_killmail_id_killmail_hash_with_http_info(killmail_hash, killmail_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str killmail_hash: The killmail hash for verification (required)
        :param int killmail_id: The killmail ID to be queried (required)
        :param str datasource: The server name you would like data from
        :param str user_agent: Client identifier, takes precedence over headers
        :param str x_user_agent: Client identifier, takes precedence over User-Agent
        :return: GetKillmailsKillmailIdKillmailHashOk
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['killmail_hash', 'killmail_id', 'datasource', 'user_agent', 'x_user_agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_killmails_killmail_id_killmail_hash" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'killmail_hash' is set
        if ('killmail_hash' not in params) or (params['killmail_hash'] is None):
            raise ValueError("Missing the required parameter `killmail_hash` when calling `get_killmails_killmail_id_killmail_hash`")
        # verify the required parameter 'killmail_id' is set
        if ('killmail_id' not in params) or (params['killmail_id'] is None):
            raise ValueError("Missing the required parameter `killmail_id` when calling `get_killmails_killmail_id_killmail_hash`")


        collection_formats = {}

        resource_path = '/v1/killmails/{killmail_id}/{killmail_hash}/'.replace('{format}', 'json')
        path_params = {}
        if 'killmail_hash' in params:
            path_params['killmail_hash'] = params['killmail_hash']
        if 'killmail_id' in params:
            path_params['killmail_id'] = params['killmail_id']

        query_params = {}
        if 'datasource' in params:
            query_params['datasource'] = params['datasource']
        if 'user_agent' in params:
            query_params['user_agent'] = params['user_agent']

        header_params = {}
        if 'x_user_agent' in params:
            header_params['X-User-Agent'] = params['x_user_agent']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='GetKillmailsKillmailIdKillmailHashOk',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
